/* Sass */
$defaultMargin : 15px;
$defaultBorderRadius : 12px ;
$defaultColor : #2A85FF;
$dafaultTransition : all .3s ease-in-out;
$fontColor : #555;
/* Sass */

.individualSellerInfo{
    padding: 10px;

    .mainContentWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .sideNav{
            flex: 0 0 15%;
            max-width: 15%;
            transition: $dafaultTransition;
            height: 100%;
        }

        .miniSideNav{
            overflow: hidden;
            max-width: 37px;
            flex: 0 0 3%;
            text-align: center;
            
            ul{
                li{
                    border-radius: 50%;
                }
            }
        }

        .mainContentContainer{
            flex: 0 0 84%;
            transition: $dafaultTransition;

            .homeSwapperBtn{

                .btnWrapper{
                    padding: 12px 6px;
                    background-color: #F5F5F5;
                    border-radius: $defaultBorderRadius;
                    width: fit-content;
                    margin-left: auto;

                    a{
                        text-decoration: none;
                        color: #bcbcbc;
                        padding: 6px 8px 8px 8px;
                    }

                    a:last-child{
                        margin-left: 4px;
                    }

                    .activeBtn{
                        box-shadow: 0px 0px 4px 4px rgba(213, 213, 213, 0.841);
                        background-color: $defaultColor;
                        color: #fff;
                        border-radius: $defaultBorderRadius;
                    }
                }
            }

            .individualSeller{
                width: 99%;

                .sellerStatisticsWrapper{

                    .statisCardWrapper{
                        margin-top: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        
                        > div{
                            flex: 0 0 20%;
                            margin-right: 45px;
                        }
                    }

                    .tableSearchInput{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: 20px 0px;
    
                        input{
                            width: 400px;
                            background-color: #F8F8F8;
                            border: none;
    
                            &:focus{
                                background-color: #fff;
                            }
                        }
    
                        p{
                            font-size: 20px;
                            font-weight: 500;
                            margin-right: 20px;
                        }
                    }

                    .sellerContentWrapper{
                        padding: 10px 25px;
                        background-color: #f8f8f8;
                        margin-top: $defaultMargin;
                        border-radius: 6px;
                        
                        .title{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .titleIcon{

                                span{
                                    display: inline-block;
                                    margin-left: 15px;
                                    background-color: #DEDEDE;
                                    padding: 4px;
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    line-height: 25px;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    color: #555;

                                    svg{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }

                        .contentCardWrapper{
                            margin-top: 25px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            justify-content: flex-start;

                            > article{
                                margin-right: 25px;
                                margin-bottom: 25px;
                                flex: 0 0 22%;
                            }
                        }
                    }
                }
                
                
            }


        }

        .mainContentContainerFull{
            flex: 0 0 96%;
        }
    }
}

@media (min-width:200px) and (max-width:769px){
    .individualSellerInfo{
        padding: 10px;
    
        .mainContentWrapper{
    
    
            .mainContentContainer{

                .individualSeller{
                    width: 99%;
    
                    .sellerStatisticsWrapper{
    
                        .statisCardWrapper{
                            margin-top: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            align-items: center;
                            
                            > div{
                                flex: 0 0 100%;
                                margin-bottom: 15px;
                            }
                        }
    
                        .tableSearchInput{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin: 20px 0px;
        
                            input{
                                width: 160px;
                                background-color: #F8F8F8;
                                border: none;
        
                                &:focus{
                                    background-color: #fff;
                                }
                            }
        
                            p{
                                font-size: 20px;
                                font-weight: 500;
                                margin-right: 20px;
                            }
                        }
    
                        .sellerContentWrapper{
                            padding: 10px 25px;
                            background-color: #f8f8f8;
                            margin-top: $defaultMargin;
                            border-radius: 6px;
                            
                            .title{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
    
                                .titleIcon{
    
                                    span{
                                        display: inline-block;
                                        margin-left: 15px;
                                        background-color: #DEDEDE;
                                        padding: 4px;
                                        width: 30px;
                                        height: 30px;
                                        text-align: center;
                                        line-height: 25px;
                                        border-radius: 4px;
                                        cursor: pointer;
                                        color: #555;
    
                                        svg{
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
    
                            .contentCardWrapper{
                                margin-top: 25px;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: flex-start;
                                justify-content: space-around;
    
                                > article{
                                    margin-right: 25px;
                                    margin-bottom: 25px;
                                    flex: 0 0 100%;
                                }
                            }
                        }
                    }
                    
                    
                }
    
    
            }
    
            .mainContentContainerFull{
                flex: 0 0 96%;
            }
        }
    }
}